html, body {
    height: 90vh;
    background-color: lightgray;
}
body {
	font-family: "Open Sans"
}

h1 {
    font-family: "Open Sans";
    margin-top: 0px;
    margin-bottom: 10px
}

ul.board {
    box-sizing: border-box;
    width: 70vmin;
    height: 70vmin;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,.5);
    border-radius: 5px;
    
    list-style-type: none;
    margin: 0;
    padding: 0;

    background-image: url("board.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

li.field {
    box-sizing: border-box;
    display: block;
    float: left;
    width: 25%;
    height: 25%;
    margin: 4.16%;
    border: 2px solid rgba(0,0,0,.0);
    border-radius: 2px;
    padding-top: 5%;

    background-size: 100% 100%;
    background-repeat: no-repeat;
}

li.field:hover {
    border-color: rgba(0,0,0,.5);
}

div.controls {
    width: 70vmin;
    height: 10vmin;
    list-style-type: none;
    margin: 10px;
    padding: 0;
}

ul.offBoardKrydser, ul.offBoardBoller {
    box-sizing: border-box;
    display: block;
    float: left;
    width: 34%;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,.5);
    border-radius: 5px;
    
    list-style-type: none;
    margin: 0px;
    padding: 0;
}
ul.offBoardBoller {
    float: right;
}

li.obKryds, li.obBolle {
    box-sizing: border-box;
    display: block;
    float: left;
    width: 25%;
    height: 75%;
    margin: 4.16%;
    border: 2px solid rgba(0,0,0,.0);
    border-radius: 2px;
    padding-top: 5%;

    background-size: 100% 100%;
    background-repeat: no-repeat;
}
li.obBolle {
    float: right;
}

li.obKryds:hover, li.obBolle:hover {
    border-color: rgba(0,0,0,.5);
}

p.dialog {
    box-sizing: border-box;
    width: 70vmin;
    background-color: rgba(256,256,256,.5);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,.5);
    border-radius: 5px;
}